install_service_repo_path: C:\\Users\\Administrator\\cert-ctrl
install_service_is_windows: true
install_service_powershell_executable: C:\\Program Files\\PowerShell\\7\\pwsh.exe
install_service_msvc_env: true
install_service_build_env:
  INSTALL_SERVICE_PATH_EXTRA: C:\\Users\\Administrator\\AppData\\Local\\Microsoft\\WinGet\\Links;C:\\Program Files\\CMake\\bin;C:\\Windows\\System32;C:\\Windows;C:\\Windows\\System32\\WindowsPowerShell\\v1.0

install_service_build_script_path: "{{ playbook_dir }}/../../scripts/build-windows-release.ps1"
install_service_build_script_remote_path: C:\\temp\\install-service-build.ps1
install_service_build_commands: []

install_service_install_prefix: "{{ install_service_repo_path }}\\install\\selfhost-windows"
install_service_asset_name: cert-ctrl-windows-x64
install_service_archive_ext: .zip
install_service_remote_staging_root: C:\\temp\\install-service-assets
